@charset "UTF-8";

/*  Paleta de Cores
----------------------
    #012340
    #2C5273
    #517EA6
    #759CBF
    #C2DCF2
----------------------
*/

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #517EA6;
}

h1#titulo {
    color: white;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    width: 300px;
    height: 550px;
    top: 50%;
    left: 50%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459);
    overflow: hidden;

    transform: translate(-50%, -50%);
    transition: width 0.5s, height 0.5s;
    transition-timing-function: ease;
}

section#login > div#img {
    display: block;
    background: #012340 url(../imagens/metal.jpg) no-repeat;
    background-size: cover;
    background-position: right bottom;
    height: 35%;
}

div#form > h1 {
    text-align: center;
    margin-bottom: 8px;
}

div#form > p {
    margin-bottom: 10px;
    font-size: 0.9em;
}

form > div.campo {
    background-color: #517EA6;
    color: black;
    border-radius: 8px;
    margin: 5px 0px;
    height: 40px;
}

div.campo > span {
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

form > div.campo > input {
    background-color: #C2DCF2;
    border: none;
    font-size: 1em;
    border-radius: 0px 8px 8px 0px;
    height: 100%;
    width: calc(100% - 45px);
    transform: translate(+1px, -12px);
}

div.campo > input:focus-within {
    background-color: white;
}

section#login > div#form {
    display: block;
    padding: 10px;
}

input#entrar {
    display: block;
    width: 100%;
    height: 40px;
    padding: 3px;
    font-size: 1em;
    background-color: #03A64A;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

input#entrar:hover {
    background-color: #025940;
    cursor: pointer;
}

a#esqueci {
    margin: auto;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    color: white;
    background-color: #04BF8A;
    border: 1px solid #025940;
    border-radius: 5px;
    padding-top: 6px;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    margin-left: 3px;
}

a#esqueci:hover {
    background-color: #025940;
}

form > a#esqueci > span {
    font-size: 1.1em;
}

a#criar {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #517EA6;
}

